In [255]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\arshi maitra\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\arshi maitra\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\arshi maitra\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\arshi maitra\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: outcome in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\arshi maitra\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\arshi maitra\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\arshi maitra\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\arshi maitra\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\arshi maitra\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\arshi maitra\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\arshi maitra\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

# Data Analyst

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time #importing necessary libraries

In [3]:
driver=webdriver.Chrome(r"C:\Web_driver\chromedriver.exe") #loading chrome from C-drive and assigning a variable to it

In [4]:
driver.get("https://www.naukri.com/") # loaing website

In [5]:
search_designation=driver.find_element_by_class_name("suggestor-input")
search_designation.send_keys("Data Analyst") #searching data analyst via class name

In [6]:
search_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_location.send_keys("Bangalore") #typing location via class name

In [7]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click() #clicking search button via Xpath location

In [8]:
Job_Title=[]
Company_Name=[]
Location=[]
Experience=[] #creating empty list to store the data

In [9]:
Title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Title_tag[0:10] #finding all the elements from the web driver

[<selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="8fce0bdc-d0c7-440f-b93c-582f16f51de6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="e51fa834-fb31-4221-82f3-f378d85e1848")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="27e223b1-2617-4d0f-8226-b3719c9fb8eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="998dbd36-800c-4f5f-a8b0-7ee00f8f914f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="0e9bdce1-98a6-470e-9cc2-ff95ac40b7a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="3792fdc1-c8ea-4182-93d0-1e7125929b81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="36455c23-4508-4861-b323-ff173c84b551")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="29767dd1-1ea7-4e62-9229-fcd63dc5f8b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="f0493c66-064e-4c8e-b757-fe80680ea270")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="13daa276-db69-4a36-aac8-5c66c0627bfe")>]

In [10]:
for i in Title_tag:
    Job_Title.append(i.text)
Job_Title[0:10] #creating a loop for  all the elements as text

['Business Data Analyst',
 'EY GDS Data Analyst-Finland based project',
 'Business & Data Analyst - Alteryx (London)',
 'Data Analyst - Data and Analytics',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - Data Science, 3 To 5 Years',
 'Data Analyst / Business Analyst',
 'Genpact Hiring For Data Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS']

In [11]:
Titles=pd.DataFrame(Job_Title) #Making a dataframe

In [12]:
Company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Company_tag[0:10] #Scrapping the company name from the web driver

[<selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="6da67ffb-d246-4e31-af8d-eb451c1e47f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="2358cd92-310e-4a50-a535-7e7a11e8c4db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="ccbe7aa5-9fdd-477c-af08-dcf2c028514d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="8573c8f7-0b58-46b3-ab63-4e5deb84bc07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="c4040b2f-606e-4e3b-8664-215ab2f2a538")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="7cb701d3-1008-4b07-9f48-f9b7261b53f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="90781fc9-34f0-4a14-80ca-8dcec7f76854")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="d6d0bb9c-5d7c-46fe-93e0-94200367f280")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="6bbd8092-3e86-4071-a4b2-ccea41338817")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="a159f13b-b8a0-4a91-a96c-ac93eb903ab4")>]

In [13]:
for i in Company_tag:
    Company_Name.append(i.text)
Company_Name[0:10]

['NXP Semiconductors',
 'EY',
 'Imaginative Brains LLP',
 'Intel',
 'Flipkart',
 'Walmart',
 'Rise Finconnect Private Limited',
 'METRO Cash & Carry',
 'Genpact',
 'Leading US MNC into Analytics']

In [14]:
Company_Names=pd.DataFrame(Company_Name) #Making a dataframe

In [15]:
Location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
Location_tag[0:10] #Scrapping the location

[<selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="7a26779d-6020-4a43-b610-085914e331ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="764e0a2b-d2d1-48df-887c-31320db6e147")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="f089cd83-e71f-4c5a-8512-d4d5865dc5b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="71d33a54-4a8a-45df-a1f6-9991c9a405de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="ed6cfdea-48e1-416d-a274-e93fdc77b262")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="f14d7f05-4ca1-4ac8-9f17-5e037273a6e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="4e16a8cd-2690-4350-84d3-1fd119259536")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="f530571e-3c17-46db-b20d-fe817eaf9b00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="472e2312-0ba0-41cd-b28c-7ab5b9e64ddc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="36551efc-e8f9-49b6-9aac-9cbc72851355")>]

In [16]:
for i in Location_tag:
    Location.append(i.text)
Location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR']

In [17]:
Locations=pd.DataFrame(Location)

In [18]:
Experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
Experience_tag[0:10] #Scraping experience

[<selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="78282b11-f65d-414e-b7d6-f703b2722c22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="8a749a76-b1f3-42e1-868f-515aa60ba1f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="f3264757-cc3e-4f9f-b041-bd4ad7287f28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="a1c870e5-b465-4a48-b4bf-d65315aaf48d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="579a9395-db2d-424a-a623-49e96ca27519")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="f8e146c0-8e90-44ca-97fa-f4c9c8867b2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="69e8a299-a8fb-4582-8db6-af4d734d8eba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="6ba20188-7da7-44a0-b67d-956b63b39e6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="11d97ea2-6a77-45a9-90ef-a4a81231aa9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="52515ad0-127c-45fd-bb9c-423f114022c4")>]

In [19]:
for i in Experience_tag:
    Experience.append(i.text)
Experience[0:10]

['2-5 Yrs',
 '0-1 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '4-7 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '2-6 Yrs',
 '2-7 Yrs']

In [20]:
Experiences=pd.DataFrame(Experience)

In [21]:
Data_Analyst=pd.concat([Titles,Company_Names,Locations,Experiences],axis=1)
Data_Analyst.columns=["Job_Title","Company","Location","Experience"]
Data_Analyst.head(10) #concatenating all the dataframes and creating a column

,Job_Title,Company,Location,Experience
0,Business Data Analyst,NXP Semiconductors,Bangalore/Bengaluru,2-5 Yrs
1,EY GDS Data Analyst-Finland based project,EY,Bangalore/Bengaluru,0-1 Yrs
2,Business & Data Analyst - Alteryx (London),Imaginative Brains LLP,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",5-10 Yrs
3,Data Analyst - Data and Analytics,Intel,Bangalore/Bengaluru,3-6 Yrs
4,Senior Data Analyst,Flipkart,Bangalore/Bengaluru,3-7 Yrs
5,Senior Data Analyst,Walmart,Bangalore/Bengaluru,4-7 Yrs
6,"Data Analyst - Data Science, 3 To 5 Years",Rise Finconnect Private Limited,Bangalore/Bengaluru,2-6 Yrs
7,Data Analyst / Business Analyst,METRO Cash & Carry,Bangalore/Bengaluru,3-8 Yrs
8,Genpact Hiring For Data Analyst,Genpact,Bangalore/Bengaluru,2-6 Yrs
9,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",2-7 Yrs

# Data Scientist

In [22]:
driver.get("https://www.naukri.com/") #loading the website

In [23]:
search_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_designation.send_keys("Data Scientist") #searching designation via X_path

In [24]:
search_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_location.send_keys("Bangalore") #searching location via X_path

In [25]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click() #clicking search buttin via Xpath location

In [26]:
Job_Title=[]
Company_Name=[]
Location=[]
Experience=[] #creating empty list to store the data

In [27]:
Title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Title_tag[0:10] #Scrapping the title

[<selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="7c1a6241-dc23-43e1-b103-157065303901")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="8f084a0e-ac97-44f0-bff5-3b3d5697330b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="77b42713-f623-43e3-810f-8dff9e72cf2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="96d11455-3f42-4c02-9319-5eccec2f0f36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="f532b461-42ae-4bca-ba41-7691662f1ada")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="85f4e97a-58a6-41af-98c6-f51b057f8239")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="540714ff-1445-48ae-89a8-3b30120156af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="913660e8-4c85-4c2b-bcf7-8c72d7138ddc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="210259f2-9569-4b32-b488-fe44d8ee00c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="7cfcc977-f5e3-4959-b9ff-60f76aceaeca")>]

In [28]:
for i in Title_tag:
    Job_Title.append(i.text)
Job_Title[0:10]

['AI Technologist Vacancy',
 'Job Opening with Wipro For Data Scientist position',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Immediate Joiners',
 'Data Scientist- AI/ML- R&D',
 'Urgent Hiring For AI Data Scientist']

In [29]:
Job_Titles=pd.DataFrame(Job_Title)

In [30]:
Company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Company_tag[0:10] #Scraping Company

[<selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="477d5d73-b7bc-42b0-8aa8-99389c22db3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="4f517db4-5722-4f97-b4d6-ba55b2f1dc3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="c47a05e0-5a75-4eb9-a5f3-ca7e43269506")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="0b9ab95b-7155-4c3f-8259-903a2ee6f258")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="c50a348c-839f-426e-b004-5be8aede4636")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="5918884a-8028-48a0-80b4-3d3e59b34154")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="ca542d19-8891-4c7e-8b9e-d10efc0e9094")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="724e1d98-2746-4f12-abe8-59c15810fda7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="0dafc0f2-cee3-459e-a004-d8c752b93c8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="25cac52b-85c5-4961-bb5a-8fb3f3999559")>]

In [31]:
for i in Company_tag:
    Company_Name.append(i.text)
Company_Name[0:10]

['Wipro',
 'Wipro',
 'Genpact',
 'Walmart',
 'Walmart',
 'Genpact',
 'Genpact',
 'Bristlecone',
 'EXL',
 'Ashkom Media India Private Limited']

In [32]:
Companies=pd.DataFrame(Company_Name)

In [33]:
Location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
Location_tag[0:10] #Scrapping location

[<selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="788c4d63-10ed-49e2-9ac0-48cae701efff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="9103044e-1393-4386-ba1d-c5cfce9fce94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="1f6fb448-0ddc-4932-9527-a1bcb1c671aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="7e834eac-ce6e-4656-958d-c4045be7b48f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="24305eec-2875-4f97-b19b-3d45357c84ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="58a5452e-7acf-425c-af3b-94ac9341e51a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="af90695a-5ff6-4091-bb07-1befc1cc5887")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="9e94222e-3c66-4c56-aab7-f0625ee11110")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="e3d03296-124a-45e6-a5d7-e2f232c09758")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="807f9d48-b274-4e7a-9efb-322c5fde4743")>]

In [34]:
for i in Location_tag:
    Location.append(i.text)
Location[0:10]

['Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Mumbai, Pune, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)']

In [35]:
Locations=pd.DataFrame(Location)

In [36]:
Experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
Experience_tag[0:10] #Scraping experience

[<selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="f4a1a043-35c6-4889-adfc-d7878c2b4601")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="4c12bdc0-c677-49e7-8b0c-12a15f498a7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="e82d2c31-cf64-4f97-bc9c-067c3dd24311")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="00dd1fde-0734-4bce-a006-4eeea6e3186b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="c6f8767d-48be-4a6b-8a77-f8ffbab30bf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="80309ee2-bf36-483a-adff-b578d6639f9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="57c1becf-347f-449d-85a9-78041185df64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="7b4494cf-363a-468b-93a5-4397d829b866")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="ba970c92-26bc-403d-923b-0538ac4ffaeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="0663982b-d6eb-4ea9-8c3f-a7ac40aa2b3f")>]

In [37]:
for i in Experience_tag:
    Experience.append(i.text)
Experience[0:10]

['6-11 Yrs',
 '2-7 Yrs',
 '5-7 Yrs',
 '5-9 Yrs',
 '5-9 Yrs',
 '7-12 Yrs',
 '5-8 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '1-4 Yrs']

In [38]:
Experiences=pd.DataFrame(Experience)

In [39]:
Data_Scientist=pd.concat([Job_Titles,Companies,Locations,Experiences],axis=1)
Data_Scientist.columns=["Job Title","Company_Name","Location","Experience"]
Data_Scientist.head(10) #Concatenating the dataframe with column names

,Job Title,Company_Name,Location,Experience
0,AI Technologist Vacancy,Wipro,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",6-11 Yrs
1,Job Opening with Wipro For Data Scientist posi...,Wipro,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",2-7 Yrs
2,Data Scientist,Genpact,Bangalore/Bengaluru,5-7 Yrs
3,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9 Yrs
4,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9 Yrs
5,Data Scientist,Genpact,Bangalore/Bengaluru,7-12 Yrs
6,Data Scientist,Genpact,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",5-8 Yrs
7,Data Scientist - Immediate Joiners,Bristlecone,"Noida, Mumbai, Pune, Bangalore/Bengaluru",5-8 Yrs
8,Data Scientist- AI/ML- R&D,EXL,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",2-6 Yrs
9,Urgent Hiring For AI Data Scientist,Ashkom Media India Private Limited,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",1-4 Yrs

# Data Scientist_Using Filters

In [40]:
driver.get("https://www.naukri.com/") #Loading the website

In [41]:
search_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_designation.send_keys("Data Scientist") #searching data scientist via xpath

In [42]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click() #clicking on the search button via Xpath location

In [44]:
Location_Filter=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
Location_Filter.click() #clicking on the filter button via Xpath location

In [45]:
Salary_Filter=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
Salary_Filter.click() #clicking on the salary button via Xpath location

In [46]:
Job_Title=[]
Company_Name=[]
Location=[]
Experience=[] #creating empty list

In [49]:
Title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Title_tag[0:10] #Scraping titles

[<selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="9d052517-2d96-4e00-bef5-0fca36fc0aef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="9616ce6f-9959-4671-994c-992cb3c1ab0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="b4f8b01a-4b8a-4a65-9f49-fbeddc115e70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="7234cc7c-c827-474f-904a-520f49be42c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="15452480-2cfc-4ffc-8466-76524c022a8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="806d1cd7-aeed-427d-bbb1-4155c25b5d7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="5133c9c9-396c-4352-b9fe-edbf7482ab8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="08fe2403-d3c3-4265-a9b9-2f69ba87e922")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="2cb68f37-ea01-4d5f-8f61-bd00caf9aa43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="26a652ed-3c17-4285-ad5c-afa26fb9ed87")>]

In [50]:
for i in Title_tag:
    Job_Title.append(i.text)
    
Job_Title[0:10]

['Job Opening with Wipro For Data Scientist position',
 'Data Scientist - Machine learning AI',
 'Data Scientist -Machine Learning with Python',
 'Data Scientist',
 'Data Scientist - MIND Infotech',
 'Data Scientist - MIND Infotech',
 'Data Scientist - Predictive Analytics',
 'Data Scientist - Internet Jobs - II',
 'Machine Learning Engineer | Data Engineer | Data Scientist',
 'Dot Net Developer']

In [51]:
Job_Titles=pd.DataFrame(Job_Title)

In [52]:
Company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Company_tag[0:10] #Scrapping company

[<selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="4fe863fb-ca23-429a-b18b-4007bd07fc00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="a10a25b7-f710-4357-aaf0-d7c823250e92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="fead0d60-964f-4c35-8f9f-ddd558a69c05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="5f5dd593-a757-4355-89df-b1a5d5dc0643")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="2238d45d-36ac-417c-b270-4eab10264945")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="0133a494-818b-412b-ac8a-c85ddc4a1abf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="4a6c030e-43dd-458d-b3d9-e34770df889e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="01490915-d958-410d-88f9-e79597732e7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="b597f8e9-ea89-4880-a4b0-53aab1cec8d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="79f03642-299f-4e92-90cf-c6caa13b162d")>]

In [53]:
for i in Company_tag:
    Company_Name.append(i.text)
    
Company_Name[0:10]

['Wipro',
 'Teq Analytics',
 'Genpact',
 'SS Supply Chain Solutions Pvt. Ltd. (3SC)',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Confidential',
 'Jobs Territory',
 'Tidyquant (OPC) Private Limited',
 'Nibha Infotech Private Limited']

In [54]:
Company_Names=pd.DataFrame(Company_Name)

In [55]:
Location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
Location_tag[0:10] #Scraping Location

[<selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="d0041ad8-33bb-4ef2-8712-6f44d132e5e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="2b0e5008-8947-4f05-9891-6b1a478dd99e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="c35c97ad-0e7a-418e-b406-cc33c9675dc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="d97ef0c3-551e-43af-a1c8-d5fbd114893d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="20d8b009-5705-4e6f-acbf-cb63b149d493")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="162d8af5-8b0e-41d1-9c1a-9802e23e705d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="be198916-a80b-44dc-819b-fa97d3053ec9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="6caea21d-1dfb-4895-bb6d-ca2b33dfdeb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="b654f106-d5a2-418f-98bd-cf27269dada4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="aac49673-7978-4996-93d1-0480d1cdf896")>]

In [56]:
for i in Location_tag:
    Location.append(i.text)
Location[0:10]

['Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida',
 'Noida',
 'Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Chennai, Bangalore/Bengaluru, Delhi / NCR(Sector-8 Noida)',
 'Gurgaon/Gurugram, Delhi / NCR']

In [57]:
Locations=pd.DataFrame(Location)

In [58]:
Experience_Tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
Experience_Tag[0:10] #Scraping experience

[<selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="fe76f8c8-9c81-4072-82f1-2df2a370be85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="29b6a33c-43c5-4e7e-b599-861c7baeb818")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="1548ec64-2bae-4c00-9f7c-6c0a7f8c23c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="eb602e02-d886-42dd-ac3b-82b79f1daacf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="09c10554-41ca-48e6-a557-37ad272cb581")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="b92b819c-b8d5-4758-82a9-0ec4a8a84c54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="fd5b3870-1e84-4e3e-b52c-7b0af3d79e8d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="0cae8364-c7f2-4f90-bcad-1a1205ea73a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="2d48445a-a478-469e-94b9-223465487a66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a82058fa44cc346fafe5b0bcbe1c8b2d", element="96ba3655-d455-4453-b642-6ad7863ca4fc")>]

In [59]:
for i in Experience_Tag:
    Experience.append(i.text)
Experience[0:10]

['2-7 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '2-5 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '1-6 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '3-8 Yrs']

In [60]:
Experiences=pd.DataFrame(Experience)

In [61]:
Filter=pd.concat([Job_Titles,Company_Names,Locations,Experiences],axis=1)
Filter.columns=["Job_Title","Company_Name","Location","Experience"]
Filter.head(10) #Concatenating the columns

,Job_Title,Company_Name,Location,Experience
0,Job Opening with Wipro For Data Scientist posi...,Wipro,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",2-7 Yrs
1,Data Scientist - Machine learning AI,Teq Analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-8 Yrs
2,Data Scientist -Machine Learning with Python,Genpact,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR",1-4 Yrs
3,Data Scientist,SS Supply Chain Solutions Pvt. Ltd. (3SC),"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",2-5 Yrs
4,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida,4-8 Yrs
5,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida,4-8 Yrs
6,Data Scientist - Predictive Analytics,Confidential,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",1-6 Yrs
7,Data Scientist - Internet Jobs - II,Jobs Territory,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-6 Yrs
8,Machine Learning Engineer | Data Engineer | Da...,Tidyquant (OPC) Private Limited,"Chennai, Bangalore/Bengaluru, Delhi / NCR(Sect...",1-3 Yrs
9,Dot Net Developer,Nibha Infotech Private Limited,"Gurgaon/Gurugram, Delhi / NCR",3-8 Yrs

# Flipkart_Sunglass

In [236]:
driver.get("https://www.flipkart.com/") #Loading the website

In [237]:
search_designation=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_designation.send_keys("sunglasses") #Searching sunglasses by Xpath location

In [238]:
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click() #clicking on the search button via class name

In [239]:
Brand=[]
for i in range(0,3):
    Brand_Tag=driver.find_elements_by_xpath("//div[ @class='_2WkVRV']")
    for i in Brand_Tag:
        Brand.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)
        
    
   # Loop needs to run for 3 pages to scrap 100 data for Brand name

In [240]:
Brand[0:99]

['Mi',
 'SRPM',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'New Specs',
 'ROZZETTA CRAFT',
 'Mi',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'SUNBEE',
 'Lee Topper',
 'New Specs',
 'SHAAH COLLECTIONS',
 'GANSTA',
 'SUNBEE',
 'United Colors of Benetton',
 'ROZZETTA CRAFT',
 'Elligator',
 'VINCENT CHASE',
 'United Colors of Benetton',
 'SRPM',
 'ROYAL SON',
 'Fastrack',
 'AISLIN',
 'SRPM',
 'Fastrack',
 'Lee Topper',
 'GANSTA',
 'PIRASO',
 'VINCENT CHASE',
 'PHENOMENAL',
 'AISLIN',
 'Fastrack',
 'PIRASO',
 'HRX by Hrithik Roshan',
 'Urbanic',
 'kingsunglasses',
 'ROYAL SON',
 'Fastrack',
 'SUNBEE',
 'AISLIN',
 'PIRASO',
 'Lee Topper',
 'SHAAH COLLECTIONS',
 'WROGN',
 'ROZZETTA CRAFT',
 'Fastrack',
 'VINCENT CHASE',
 'AISLIN',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'PHENOMENAL',
 'SRPM',
 'ROYAL SON',
 'NuVew',
 'Ray-Ban',
 'IZAAN MART',
 'VINCENT CHASE',
 'kingsunglasses',
 'New Specs',
 'kingsunglasses',
 'Urbanic',
 'VINCENT CHASE',
 'PIRASO',
 'United Colors of Benetton',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'Fastrack',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'AISLIN',
 'New Specs',
 'AISLIN',
 'Ray-Ban',
 'Anemone',
 'VINCENT CHASE',
 'Urbanic',
 'NuVew',
 'Cruze',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'ROYAL SON',
 'AISLIN',
 'Roadster',
 'GANSTA',
 'Urbanic',
 'elegante',
 'kingsunglasses',
 'Elligator',
 'GANSTA',
 'AISLIN']

In [241]:
Brands=pd.DataFrame(Brand)

In [242]:
Product_Description=[]
for i in range(0,2):
    Product_Tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in Product_Tag:
           Product_Description.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)  # Loop needs to run for 3 pages to scrap 100 data for Product Description

In [243]:
Product_Description[0:99]

['UV Protection Wayfarer Sunglasses (53)',
 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (41)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (61)',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Aviator, Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'Gradient Wayfarer Sunglasses (Free Size)',
 'Mirrored Retro Square Sunglasses (57)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (62)',
 'UV Protection Rectangular, Retro Square Sunglasses (55)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Polarized Aviator Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (50)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Night Vision Sports Sunglasses (Free Siz...',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'HALF JACKET 2.0 XL Round Sunglass',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient, Riding Glasses Sunglass',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Mirrored Clubmaster Sunglasses (54)',
 'UV Protection Oval Sunglasses (52)',
 'Polarized, UV Protection Sports Sunglasses (68)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Night Vision Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (56)',
 'UV Protection Oval, Aviator Sunglasses (59)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Round Sunglasses (53)',
 'Polarized, UV Protection, Mirrored Round Sunglasses (56...',
 'UV Protection Round, Shield Sunglasses (55)',
 'Night Vision, UV Protection, Polarized Wrap-around Sung...',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection, Mirrored Aviator Sunglasses (...',
 'UV Protection, Mirrored, Night Vision, Riding Glasses S...',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Riding Glasses, UV Protection Round Sunglasses (50)',
 'UV Protection, Gradient Cat-eye, Wayfarer Sunglasses (6...',
 'UV Protection, Mirrored Wayfarer Sunglasses (57)',
 'UV Protection, Gradient Wayfarer Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (60)',
 'Polarized Aviator Sunglasses (57)',
 'UV Protection, Polarized Wrap-around, Sports Sunglasses...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer, Rectangular Sunglasses (62)',
 'Polarized, UV Protection Wayfarer, Round Sunglasses (58...',
 'UV Protection, Gradient Aviator Sunglasses (58)',
 'UV Protection Wrap-around Sunglasses (63)',
 'Others Retro Square Sunglasses (55)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Wayfarer Sunglasses (46)',
 'UV Protection Round Sunglasses (47)',
 'UV Protection Sports Sunglasses (68)',
 'Polarized Wayfarer Sunglasses (52)']

In [244]:
Product_Descriptions=pd.DataFrame(Product_Description)

In [245]:
Price=[]
for i in range(0,3):
    Price_Tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in Price_Tag:
           Price.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)
 # Loop needs to run for 3 pages to scrap 100 data for Price

In [246]:
Price[0:99]

['836',
 '9,599',
 '387',
 '699',
 '220',
 '220',
 '504',
 '299',
 '111',
 '210',
 '12,029',
 '8,629',
 '185',
 '525',
 '899',
 '559',
 '501',
 '135',
 '115',
 '1,309',
 '836',
 '215',
 '768',
 '399',
 '548',
 '768',
 '335',
 '443',
 '164',
 '443',
 '519',
 '9,599',
 '185',
 '1,289',
 '160',
 '1,007',
 '589',
 '219',
 '299',
 '105',
 '836',
 '9,599',
 '387',
 '699',
 '220',
 '220',
 '504',
 '299',
 '111',
 '210',
 '12,029',
 '8,629',
 '185',
 '525',
 '899',
 '559',
 '501',
 '135',
 '115',
 '1,309',
 '836',
 '215',
 '768',
 '399',
 '548',
 '768',
 '335',
 '443',
 '164',
 '443',
 '519',
 '9,599',
 '185',
 '1,289',
 '160',
 '1,007',
 '589',
 '219',
 '299',
 '105',
 '836',
 '9,599',
 '387',
 '699',
 '220',
 '220',
 '504',
 '299',
 '111',
 '210',
 '12,029',
 '8,629',
 '185',
 '525',
 '899',
 '559',
 '501',
 '135',
 '115']

In [247]:
Prices=pd.DataFrame(Price)

In [248]:
Discount=[]
for i in range(0,3):
    Discount_Tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in Discount_Tag:
           Discount.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)  # Loop needs to run for 3 pages to scrap 100 data for Discount

In [249]:
Discount[0:99]

['80% off',
 '11% off',
 '87% off',
 '65% off',
 '79% off',
 '45% off',
 '76% off',
 '78% off',
 '77% off',
 '57% off',
 '11% off',
 '10% off',
 '79% off',
 '79% off',
 '64% off',
 '72% off',
 '84% off',
 '88% off',
 '76% off',
 '45% off',
 '80% off',
 '78% off',
 '58% off',
 '80% off',
 '63% off',
 '58% off',
 '67% off',
 '86% off',
 '67% off',
 '82% off',
 '79% off',
 '11% off',
 '38% off',
 '45% off',
 '87% off',
 '49% off',
 '73% off',
 '85% off',
 '70% off',
 '82% off',
 '80% off',
 '11% off',
 '87% off',
 '65% off',
 '79% off',
 '45% off',
 '76% off',
 '78% off',
 '77% off',
 '57% off',
 '11% off',
 '10% off',
 '79% off',
 '79% off',
 '64% off',
 '72% off',
 '84% off',
 '88% off',
 '76% off',
 '45% off',
 '80% off',
 '78% off',
 '58% off',
 '80% off',
 '63% off',
 '58% off',
 '67% off',
 '86% off',
 '67% off',
 '82% off',
 '79% off',
 '11% off',
 '38% off',
 '45% off',
 '87% off',
 '49% off',
 '73% off',
 '85% off',
 '70% off',
 '82% off',
 '80% off',
 '11% off',
 '87% off',
 '65% off',
 '79% off',
 '45% off',
 '76% off',
 '78% off',
 '77% off',
 '57% off',
 '11% off',
 '10% off',
 '79% off',
 '79% off',
 '64% off',
 '72% off',
 '84% off',
 '88% off',
 '76% off']

In [250]:
Discounts=pd.DataFrame(Discount)

In [253]:
Flipkart_Sunglass=pd.concat([Brands,Product_Descriptions,Prices,Discounts],axis=1)
Flipkart_Sunglass.columns=['Brand','Product_Description','Price','Discount']
Flipkart_Sunglass.head() #Concatenating all the dataframe and making a column

,Brand,Product_Description,Price,Discount
0,Mi,UV Protection Wayfarer Sunglasses (53),836,80% off
1,SRPM,"Others Cat-eye, Retro Square, Wayfarer Sunglas...","9,599",11% off
2,PIRASO,"UV Protection, Gradient Wayfarer Sunglasses (53)",387,87% off
3,Fastrack,Others Retro Square Sunglasses (Free Size),699,65% off
4,Fastrack,"UV Protection, Riding Glasses Wayfarer Sunglas...",220,79% off

# Iphone 11 Review

In [113]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART") #loading the website

In [114]:
Rating=[]
for i in range(0,11):
    Rating_Tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in Rating_Tag:
           Rating.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)
 # Loop needs to run for 11 pages to scrap 100 data for Rating

In [115]:
Rating[0:99]

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '3',
 '4',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '4',
 '3',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '3',
 '5']

In [116]:
Ratings=pd.DataFrame(Rating) #making a dataframe

In [117]:
Summary=[]
for i in range(0,11):
    Summary_Tag=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in Summary_Tag:
           Summary.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)  # Loop needs to run for 11 pages to scrap 100 data for summary

In [118]:
Summary[0:99]

['Terrific',
 'Best in the market!',
 'Horrible',
 'Terrific purchase',
 'Highly recommended',
 'Wonderful',
 'Waste of money!',
 'Excellent',
 'Perfect product!',
 'Worth every penny',
 'Simply awesome',
 'Terrific purchase',
 'Terrible product',
 'Simply awesome... cannot expose in word....',
 'Perfect product!',
 'Fabulous!',
 'Best in the market!',
 'Worth every penny',
 'Brilliant',
 'Terrific',
 'Classy product',
 'Excellent',
 'Nice product',
 'Fabulous!',
 'Fabulous!',
 'Great product',
 'Delightful',
 'Classy product',
 'Super!',
 'Terrific',
 'Wonderful',
 'Mind-blowing purchase',
 'genuine Product.',
 'Terrific purchase',
 'Classy product',
 'Wonderful',
 'Terrific',
 'Terrific purchase',
 'Highly recommended',
 'Perfect product!',
 'Must buy!',
 'Wonderful',
 'Must buy!',
 'Brilliant',
 'Wonderful',
 'Must buy!',
 'Terrific',
 'Best in the market!',
 'Wonderful',
 'Brilliant',
 'Super!',
 'Excellent',
 'Simply awesome',
 'Highly recommended',
 "Don't waste your money",
 'Good choice',
 'Highly recommended',
 'Terrific purchase',
 'Brilliant',
 'Not recommended at all',
 'Classy product',
 'Simply awesome',
 'Fair',
 'Terrific purchase',
 'Highly recommended',
 'Classy product',
 'Terrific purchase',
 'Worth every penny',
 'Moderate',
 'Good choice',
 'Highly recommended',
 'Wonderful',
 'Wonderful',
 'Excellent',
 'Just wow!',
 'Delightful',
 'Brilliant',
 'Brilliant',
 'Really Nice',
 'Worth the money',
 'Worst experience ever!',
 'Waste of money!',
 'Awesome',
 'Utterly Disappointed',
 'Terrific',
 'Just okay',
 'Best in the market!',
 'Not good',
 'Utterly Disappointed',
 'Absolute rubbish!',
 'Awesome',
 'Good choice',
 'Classy product',
 'Not recommended at all',
 'Simply awesome',
 'Super!',
 'Wonderful',
 'Wonderful',
 'Simply awesome']

In [119]:
Summaries=pd.DataFrame(Summary)

In [120]:
Review=[]
for i in range(0,11):
    Review_Tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in Review_Tag:
           Review.append(i.text.replace("\n"," "))
    next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)  # Loop needs to run for 11 pages to scrap 100 data for Brand name

In [121]:
Review[0:99]

['Best',
 'awsm Product',
 'love ',
 'Such a Fabulous product value for Money.. Performance just awesome.',
 'Love this product',
 'Phone Is Good Hated the delivery service',
 'Camera quality is really improved. Battery life needs to be improved. It would be better if we can get super amoled screen in such high price point.',
 'Good Phone By Apple',
 'Good',
 'Nice',
 'This phone is bullet and water spooruf specifically',
 'Nice performance... I will give 5 star',
 "Apple diehard fan. If you're switching to IOS, 11 is the best version I could suggest.",
 'Great phone!! Apart from screen resolution everything is fantastic. Could have made full hd with this price range. Battery back up is awesome. Really a great phone which can handle multi tasking very easily.',
 'Its a good upgrade from iPhone 7, better batteries and camera, you wont be able to determine performance difference from its earlier model iPhone 7 or any older models because iPhone never lag or freeze no matter which application/games we run , as its loaded with bionic processor and optimised iOS , iOS always complements its hardware',
 'Excellent display, deep bass stereo sound delivered by phone speakers, excellent battery and camera. Supremely fluid interface...',
 '3months running I will review after a year again',
 'Value For Money , Gret Experience, Loved It.',
 'absolutely stunning.... looks so perfect in hand.. in time delivery by flipkart and continuous customer support for any doubts... this phone definitely raise your looks...',
 'What a iphone!!! ',
 'Best phone for ever.',
 'Awesome camera Good performance value for money',
 'Best Mobile For Videography and photography',
 'Best Device for gaming but too much heat',
 'Excellent phone... great performance..very good camera.. Overall power pack..war machine',
 'Super',
 'I got a scratch in display glass.',
 'Top quality',
 'Value for money and apple did great job in battery performance. Overall performance is excellent',
 '1st time iphone user needs to buy charger.',
 'Good',
 'I LOVE THIS PHONE',
 'This phone gets overheat from the day 1 usage..I just played couple videos from YouTube and it is generating heat..',
 'bought 4 my daughter n she loved it',
 'Good',
 'I was really surprised by its battery performance and level of security. I feel thats its worth upgrading from android to iPhone. ',
 'So nice loved it',
 'Superb Camera',
 'Nice dynamic range. Upgrade from oneplus 6',
 'I am iphone years since 10 years , so i feel nothing much change than camera clarity , screen resolution and speed , on all iphone upgrades Value for money',
 'Superb phone',
 'Excellent product',
 'Im upgraded from iPhone 7plus to iphone 11 but in comparison iPhone 11 is really good n amazing experience',
 'love it',
 'Fantastic service. Product is awesome. Much appreciated.',
 'I love this colour',
 'I have been using this phone for 1 month now everything is good apart from one thing whenever I plug in for charging it just heats like it will blast and I experience the same thing while playing games for continuously 15 minutes',
 'Product is awesome but the packing was below average. Not even included an air bubble covering. Once I opened I as absolutely disappointed with the packing. Expected a better packing. Please improve flipkart please improve.',
 'Osm phone',
 'Good i phone 11',
 'Great',
 'Loving it.',
 'Best budget device ever ',
 'Superb mobile Thank you apple',
 'My first i phone . It is osm . Battery backup is superb . go for it .. Best deal .',
 'I am someone who does research for more than months to buy a phone. While this research, I delayed and got only 2 model colours. If you are someone looking forward to have iOS device, you should not think and go for this. If you are someone who compare this device with Samsung M and S series and oneplus 9 series. Delivered in a day! I was so worried till I unboxed and looked into model, camera, battery life. This device is manufactured by Apple but not manufactured in India (China). Phone is ... READ MORE',
 "Amazing product at the best possible price! Was confused about the 5G thing but because of it, it doesn't made sense to spend extra bucks on iPhone 12 as the rollout of 5G will take time. Got this product for around 41k after exchanging an old phone plus discount from axis bank card and at that price it was a steal.",
 'Will Update after two months of usage',
 'Great experience with this iPhone after upgrading from iPhone 6.',
 'Best in class! Satisfied,thanks Flipkart.',
 'Good product from apple but why charger and earphone are missing ?',
 "Awesome feel.. Its my first IPhone. Android to iphone update is just awesome. Only thing obseved i lost whats app backup. Couldn't migrate whats app. All other things are good. Value for money.",
 'Best Iphone In this Price range.Dont be so confuse just close your eyes and Place the Order ',
 'Its was good',
 'My first iPhone and it feels great. If you are looking for better camera then go for pro version. I would recommend everyone who wants to use for the first time or coming from the older version and dont have the budget for pro.',
 'Excellent product..... excellent delivery and competitive pricing.',
 'Very nice',
 'Stunning.. Absolutely loving it.',
 'Value for money',
 "1. The product packaging is good. 2. The product was delivered on time. 3. The display is excellent. 4. The battery doesn't last for more than 4-5 hours. 5. The phone got heat up while charging. 6. The phone is pretty smooth. 7. For 1st time user you have to buy your iphone charger in advance, as you will not get one from it. 8. Camera quality is average. 9. Build quality is good. 10. Face lock/ unlock is very fast.",
 'Performance Battery Camera is ok But deeply unhappy for not providing charger.like Brazil india should fine apple for not providing charger.',
 'Awesome value for money performance is smooth. Received brand new box nice packing original device.',
 'Osme',
 'Definately worth the prize',
 'Nice',
 'Awesome product very happy',
 'Value for money',
 "It's awesome iphone 11 also camera is good quality",
 "Product is nice, but it's little difficult for Android users, bcoz you can't take your what's app backup, apart from this all fine",
 "If you don't have an iPhone,well, you don't have an iPhone.",
 'Overall Aww.. my 1st ever apple device.',
 'Some time phone will hit automatically but all performance are good ...btry backup is good',
 'Nice And Value For Money',
 'Awesome phone . I love it My Fast iPhone',
 'good product',
 'Love this phone',
 'Awesome phone as always from Apple',
 'Amazing phone with great camera.I am very happy with its camera performance.',
 'Value for money',
 'Awesome product',
 'Pretty good so far, will add on after using few months.',
 'Excellent phone',
 'Very good',
 'Best phone',
 'Ultimate use',
 'I bought first time iOS device and i got to know its value for money. Amazing tech.',
 'Good mobile',
 'Good',
 'iPhones are worth every penny, they are expensive and make a hole in your pocket but once you start using the phone youll definitely like it!']

In [122]:
Reviews=pd.DataFrame(Review)

In [123]:
Iphone_Review=pd.concat([Ratings,Summaries,Reviews],axis=1)
Iphone_Review.columns=["Rating","Summary","Review"]
Iphone_Review.head(100) #Concatenating all the columns

,Rating,Summary,Review
0,5,Terrific,Best
1,5,Best in the market!,awsm Product
2,5,Horrible,love
3,5,Terrific purchase,Such a Fabulous product value for Money.. P...
4,5,Highly recommended,Love this product
...,...,...,...
95,5,Super!,I bought first time iOS device and i got to kn...
96,5,Wonderful,Good mobile
97,3,Wonderful,Good
98,5,Simply awesome,"iPhones are worth every penny, they are expens..."
99,5,Brilliant,"Product recived in perfect condition, packing ..."

# FlipKart Sneakers

In [124]:
driver.get("https://www.flipkart.com/") #loading the website

In [125]:
search_designation=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_designation.send_keys("sneakers") #type the keyword sneakers via Xpath location

In [126]:
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click() #clicking on the search button via class name

In [128]:
Brand=[]
for i in range(0,3):
    Brand_Tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in Brand_Tag:
        Brand.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)  # Loop needs to run for 3 pages to scrap 100 data for Brand name

In [129]:
Brand[0:99]

['SFR',
 'BIRDE',
 'BRUTON',
 'WOODLAND',
 'Layasa',
 'BRUTON',
 'Magnolia',
 'Robbie jones',
 'BRUTON',
 'URBANBOX',
 'Labbin',
 'Robbie jones',
 'Robbie jones',
 'PUMA',
 'Kraasa',
 'BRUTON',
 'KWIK FIT',
 'aadi',
 'Robbie jones',
 'D-SNEAKERZ',
 'CAMPUS',
 'Dicy',
 'ASTEROID',
 'U.S. POLO ASSN.',
 'bluemaker',
 'PUMA',
 'HOTSTYLE',
 'Robbie jones',
 'PUMA',
 'Kraasa',
 'CLYMB',
 "LEVI'S",
 'ONECENTRE',
 'Nobelite',
 'ASTEROID',
 'aadi',
 'Robbie jones',
 'Kzaara',
 'BRUTON',
 'Kraasa',
 'SCATCHITE',
 'NAUTICA',
 'RED CHIEF',
 'AKIMBO',
 'Roadster',
 'ZF Klub',
 'corsac',
 'Robbie jones',
 'Layasa',
 'U.S. POLO ASSN.',
 'PUMA',
 'Airland',
 'Numenzo',
 'LE GREEM',
 'U.S. POLO ASSN.',
 'BRUTON',
 'JACK & JONES',
 'SPARX',
 'aadi',
 "LEVI'S",
 'Chevit',
 "LEVI'S",
 'AJANTA',
 'U.S. POLO ASSN.',
 'KNIGHTWING',
 'Echor',
 'Numenzo',
 'KNIGHT WALKERS',
 'revord',
 'luxury fashion',
 'Layasa',
 'Dizzler',
 'WOODLAND',
 'AMICO',
 'PROVOGUE',
 'Kraasa',
 'WHITE WALKERS',
 'WHITE WALKERS',
 'BRUTON',
 'ADIDAS',
 'ASIAN',
 'RED TAPE',
 'aadi',
 'Adidas Original',
 'REEBOK CLASSICS',
 'Xtoon',
 'Chevit',
 'Zixer',
 'BRUTON',
 'PROVOGUE',
 'LEE COOPER',
 'Zixer',
 'PUMA',
 'PUMA',
 'SPARX',
 'ROCKFIELD',
 'DUCATI',
 'REEBOK CLASSICS',
 "LEVI'S"]

In [130]:
Brands=pd.DataFrame(Brand) #Creating a dataframe

In [131]:
Product_Description=[]
for i in range(0,3):
    Description_Tag=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    for i in Description_Tag:
        Product_Description.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5) # Loop needs to run for 3 pages to scrap 100 data for Product Description

In [132]:
Product_Description[0:99]

['Brave Sneakers For Men',
 'HRX by Hrithik Roshan Men Black Perforated Gamescape Sn...',
 'Sneakers For Men',
 'JFWGEORGE KNIT LACE UP Sneakers For Men',
 'Nautica Men Charcoal Grey Solid Regular Sneakers Sneake...',
 'Jfwgeorge Knit Lace Up Sneakers For Men',
 'SD-323 Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'CLASSIC LEATHER Sneakers For Men',
 'SM-641 Sneakers For Men',
 "Nike Court Legacy Canvas Men's Shoes Sneakers For Men",
 'MARTINEZ 2.0 Sneakers For Men',
 'White Sneaker For Men Sneakers For Men',
 'RICO Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Rubber Casual/Walking Shoes/Outdoor Ultra Lightweight S...',
 'JFWBENNY KNIT SLIP ON Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Athleisure Sneakers For Men',
 'SM-607 Sneakers For Men',
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Athleisure Sneakers For Men',
 'Sneakers For Men',
 'Athleisure Sneakers For Men',
 'Sneakers For Men',
 'PREMIUM WHITE LATEST CASUAL SNEAKERS (WHITE) Sneakers F...',
 'Style Rider BP Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 'BMW MMS Neo Cat Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'RS-Fast Sneakers For Men',
 'COURT TOURINO Sneakers For Men',
 'Model name: New Latest Affordable Range of Combo Pack o...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Men's Ultraforce Mid-top Athletic-Inspired Retro Fashio...",
 'Smash Vulc Sneakers For Men',
 'BAYLOR 2.0 Sneakers For Men',
 'Platform Chunky Trainer/Sneakers -BOOM Mid Top Shoes fo...',
 'SWIFT ESS Sneakers For Men',
 'Stylish Party Wear Fashionable Lightweight New arrival ...',
 'Sneakers For Men',
 'CR-1 Sneakers For Men',
 '237 Sneakers For Men',
 'MARTINEZ 2.0 Sneakers For Men',
 'SUPERMATCH Sneakers For Men',
 "Men's Ultraforce Mid-top Athletic-Inspired Retro Fashio...",
 'Sneakers For Men',
 'Exclusive dancing sneaker For Boys||Funky dancing sneak...',
 'Puma Smash v2 L Sneakers For Men',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 "Men's Hiking & Trekking Faux Casual Lace-ups Boots Snea...",
 'EVAW2 Sneakers For Men',
 'Subtle Grace Canvas Shoes For Men',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'FUTURE RIDER PLAY ON Sneakers For Men',
 'Sneakers For Men',
 'R78 Trek Sneakers For Men',
 'MAPF1 Electron E Sneakers For Men',
 '574 Sneakers For Men',
 'Men 192 Sneakers For Men',
 'Sneakers For Men',
 'Comfy Mid-Top Casual Chunky Streetwear Fashion Sneakers...',
 'WATERPROOF-03cBLACKGRYY Sneakers For Men',
 "Levi's Men's Lancer Sneakers Sneakers For Men",
 'Athleisure Sneakers For Men',
 'GEL-PTG Sneakers For Men',
 'MAPF1 Drift Cat Delta Sneakers For Men',
 'Stylish White Casual Sneakers | White Party Wear Sneake...',
 'Quarter block Sneakers For Men',
 'Chapel Sneakers For Men',
 'x KL Denver Sneakers For Men',
 '6 Sneakers For Men',
 'Casual Shoes Combo For Men Daily Wear Sneakers Pack 3 S...',
 "BALANCER Men's Fashion Sneakers Lace-Up Trainers Basket...",
 'Sneakers For Men',
 'KS-02 Canvas Casual Partywear Outdoor Shoes For Boys Sn...',
 'Latest Design Stylish Pack of 3 Casual Sneakers Shoes F...',
 'Future-04 casual shoes for men | Latest Stylish Casual ...',
 'SM-641 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'White Boots || High Tops || Sneakers For Men',
 'Backcourt Mid Sneakers For Men',
 'Smart Casual Combo Pack of 02 Pairs 01 Casual Sneakers ...',
 'Future Rider Twofold Sneakers For Men']

In [133]:
Product_Descriptions=pd.DataFrame(Product_Description)

In [134]:
Price=[]
for i in range(0,3):
    Price_Tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in Price_Tag:
           Price.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5) # Loop needs to run for 3 pages to scrap 100 data for Price

In [135]:
Price[0:99]

['455',
 '1,763',
 '1,502',
 '1,999',
 '492',
 '369',
 '1,499',
 '899',
 '399',
 '530',
 '449',
 '1,220',
 '479',
 '758',
 '1,754',
 '449',
 '3,579',
 '500',
 '3,919',
 '549',
 '179',
 '891',
 '4,839',
 '699',
 '3,227',
 '2,409',
 '569',
 '3,719',
 '1,052',
 '1,174',
 '818',
 '399',
 '688',
 '449',
 '551',
 '524',
 '374',
 '229',
 '1,399',
 '499',
 '455',
 '1,763',
 '1,502',
 '1,999',
 '492',
 '369',
 '1,499',
 '899',
 '399',
 '530',
 '449',
 '1,220',
 '479',
 '758',
 '1,754',
 '449',
 '3,579',
 '500',
 '3,919',
 '549',
 '179',
 '891',
 '4,839',
 '699',
 '3,227',
 '2,409',
 '569',
 '3,719',
 '1,052',
 '1,174',
 '818',
 '399',
 '688',
 '449',
 '551',
 '524',
 '374',
 '229',
 '1,399',
 '499',
 '455',
 '1,763',
 '1,502',
 '1,999',
 '492',
 '369',
 '1,499',
 '899',
 '399',
 '530',
 '449',
 '1,220',
 '479',
 '758',
 '1,754',
 '449',
 '3,579',
 '500',
 '3,919']

In [136]:
Discount=[]
for i in range(0,3):
    Discount_Tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in Discount_Tag:
           Discount.append(i.text.replace('\n',''))
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5) # Loop needs to run for 3 pages to scrap 100 data for Discount

In [137]:
Discount[0:99]

['54% off',
 '49% off',
 '66% off',
 '50% off',
 '55% off',
 '53% off',
 '57% off',
 '80% off',
 '80% off',
 '77% off',
 '25% off',
 '15% off',
 '52% off',
 '80% off',
 '55% off',
 '55% off',
 '48% off',
 '72% off',
 '44% off',
 '45% off',
 '64% off',
 '15% off',
 '46% off',
 '65% off',
 '41% off',
 '46% off',
 '43% off',
 '46% off',
 '64% off',
 '75% off',
 '80% off',
 '60% off',
 '47% off',
 '65% off',
 '65% off',
 '59% off',
 '71% off',
 '54% off',
 '60% off',
 '50% off',
 '54% off',
 '49% off',
 '66% off',
 '50% off',
 '55% off',
 '53% off',
 '57% off',
 '80% off',
 '80% off',
 '77% off',
 '25% off',
 '15% off',
 '52% off',
 '80% off',
 '55% off',
 '55% off',
 '48% off',
 '72% off',
 '44% off',
 '45% off',
 '64% off',
 '15% off',
 '46% off',
 '65% off',
 '41% off',
 '46% off',
 '43% off',
 '46% off',
 '64% off',
 '75% off',
 '80% off',
 '60% off',
 '47% off',
 '65% off',
 '65% off',
 '59% off',
 '71% off',
 '54% off',
 '60% off',
 '50% off',
 '54% off',
 '49% off',
 '66% off',
 '50% off',
 '55% off',
 '53% off',
 '57% off',
 '80% off',
 '80% off',
 '77% off',
 '25% off',
 '15% off',
 '52% off',
 '80% off',
 '55% off',
 '55% off',
 '48% off',
 '72% off',
 '44% off']

In [138]:
Total_Price=Prices+" "+Discounts
Total_Price[0:99] #adding price and discount to get the data in one column

                 0
0     987 67% off
1     199 60% off
2     645 77% off
3     220 55% off
4     447 55% off
..             ...
94    129 74% off
95  1,049 47% off
96    167 83% off
97    399 73% off
98    120 69% off

[99 rows x 1 columns]

In [139]:
Price=pd.DataFrame(Total_Price)

In [140]:
Sneakers=pd.concat([Brands,Product_Descriptions,Price],axis=1)
Sneakers.columns=['Brand','Product_Description','Price']
Sneakers.head(100) #Total 100 columns with concatenation and column name

,Brand,Product_Description,Price
0,SFR,Brave Sneakers For Men,987 67% off
1,BIRDE,HRX by Hrithik Roshan Men Black Perforated Gam...,199 60% off
2,BRUTON,Sneakers For Men,645 77% off
3,WOODLAND,JFWGEORGE KNIT LACE UP Sneakers For Men,220 55% off
4,Layasa,Nautica Men Charcoal Grey Solid Regular Sneake...,447 55% off
...,...,...,...
95,ROCKFIELD,White Boots || High Tops || Sneakers For Men,"1,049 47% off"
96,DUCATI,Backcourt Mid Sneakers For Men,167 83% off
97,REEBOK CLASSICS,Smart Casual Combo Pack of 02 Pairs 01 Casual ...,399 73% off
98,LEVI'S,Future Rider Twofold Sneakers For Men,120 69% off
99,RODDICK SHOES,611 Black casual sneakers shoes for men Sneake...,525 83% off

# Myntra Shoes

In [141]:
driver.get("https://www.myntra.com/shoes") #Loading the website

In [142]:
Price_Filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
Price_Filter.click() #Clicking on the price filter by Xpath location

In [143]:
Colour_Filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
Colour_Filter.click() #Clicking on the colour filter by Xpath location

In [144]:
#The below class name gave all the required data, hence splitted the data by '\n'and have seperately taken the three parts.

In [145]:
Brand=[]
for i in range(0,2):
    Brand_Tag=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']")
    for i in Brand_Tag:
        Brand.append(i.text.split("\n")[0])
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
    next_button.click()
    time.sleep(5)
   # Ran the loop twice to get all 100 data from 2 pages and have taken the first part of the splitted data for brand name

In [146]:
Brand

['Skechers',
 'UNDER ARMOUR',
 'PUMA Motorsport',
 'Puma',
 'Puma',
 'Nike',
 'Skechers',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'Nike',
 'Nike',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Puma',
 'Vans',
 'ADIDAS',
 'Reebok',
 'Skechers',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Skechers',
 'Geox',
 'UNDER ARMOUR',
 'Geox',
 'ADIDAS',
 'ADIDAS',
 'Hush Puppies',
 'J.FONTINI',
 'Geox',
 'Columbia',
 'Puma',
 'ASICS',
 'Geox',
 'Geox',
 'Geox',
 'Geox',
 'ADIDAS',
 'Geox',
 'Geox',
 'UNDER ARMOUR',
 'Columbia',
 'Geox',
 'Geox',
 'UNDER ARMOUR',
 'Geox',
 'ADIDAS',
 'Saint G',
 'EVADICT By Decathlon',
 'EVADICT By Decathlon',
 'Geox',
 'Geox',
 'LOUIS STITCH',
 'KIPRUN By Decathlon',
 'J.FONTINI',
 'ASICS',
 'Clarks',
 'DAVINCHI',
 'Geox',
 'Geox',
 'Clarks',
 'Saint G',
 'Clarks',
 'Bugatti',
 'Bugatti',
 'Heel & Buckle London',
 'Saint G',
 'Geox',
 'Saint G',
 'Saint G',
 'Geox',
 'Geox',
 'Geox',
 'Louis Philippe',
 'Quechua By Decathlon',
 'Kenkoh',
 'Geox',
 'DAVINCHI',
 'Saint G',
 'Geox',
 'Geox',
 'FILA',
 'Geox',
 'J.FONTINI',
 'ECCO',
 'Columbia',
 'Geox',
 'FILA',
 'ASICS',
 'Columbia',
 'Cole Haan',
 'Geox',
 'J.FONTINI',
 'Clarks',
 'Geox',
 'J.FONTINI',
 'Heel & Buckle London',
 'Geox',
 'Geox']

In [147]:
Brands=pd.DataFrame(Brand)

In [148]:
Product_Description=[]
for i in range(0,2):
    Description_Tag=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']")
    for i in Description_Tag:
        Product_Description.append(i.text.split("\n")[1])
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
    next_button.click()
    time.sleep(5)
    # Ran the loop twice to get all 100 data from 2 pages and have taken the second part of the splitted data for product description

In [149]:
Product_Description

['Men Leather Formal Loafers',
 'Men Woven Design Leather Slip-On Sneakers',
 'Men Leather Loafers',
 'Men Solid Boat Shoes',
 'Men Driving Shoes',
 'Men Leather Derbys',
 'Men Leather Loafers',
 'Leather Heeled Knee Boots',
 'Leather Stiletto Pumps',
 'Men Solid Leather Formal Loafers',
 'Women Samira Natural Leather Black Narrow Width',
 'Women PU Sneakers',
 'Men SNOWTREKKER Trekking Shoes',
 'Men Striped Leather Sneakers',
 'Leather Ankle Boots',
 'Women Leather Pumps',
 'Women Eternity Nitro Running',
 'Leather Kitten Mules',
 'Leather Wedge Sandals',
 'Men Woven Design Leather Loafers',
 'Women Leather Heeled Loafers',
 'Kumba Narrow Sandals',
 'Men Solid Leather Formal Loafers',
 'Slip-On Casual Loafers',
 'Women Sahara Open Toe Flats',
 'Unisex Boston Clogs',
 'Sonora Open Toe Flats',
 'Men Solid Leather Formal Derbys',
 'High-Top Block Heeled Boots',
 'Suede Leather Snug Boots',
 'Bend Low Regular Shoes',
 'Women Leather Flat Boots',
 'Women Slip-On Sneakers',
 'Men Leather Derbys',
 'Men Slip-On Sneakers',
 'Men Slip-On Formal Shoes',
 'High-Top Block Heeled Boots',
 'Solid Slip On Shoes',
 'Men Leather Formal Derbys',
 'Women Air Zoom Winflo 7 Run',
 'Men Colourblocked Sneakers',
 'Men Striped Ozelia Sneakers',
 'Women Solid Horsebit Loafers',
 'Men Air Max Dawn Sneakers',
 'Men Jamming 2.0 Running Shoes',
 'Men ARCH FIT ROAD WALKER',
 'Men Monster Vertex Sneakers',
 'Women Solid Leather Flats',
 'Men Leather Derbys',
 'Men Leather Formal Loafers',
 'Leather Open Toe Flats',
 'Women AIR ELEMENT 2 Sneakers',
 'Women Leather High-Top Sneakers',
 'Men Leather Loafers',
 'Textured Leather Block Peep Toes',
 'Narrow Width Open Toe Flats',
 'Women Open Toe Flats',
 'Men Leather Formal Loafers',
 'Men Leather Formal Brogues',
 'Leather Kitten Heel Boots',
 'Men Leather Formal Loafers',
 'Leather Ankle Boots',
 'Men Solid Suede Sneakers',
 'Bend Black Narrow-Width Shoes',
 'Women Arizona Black Slides',
 'Andermatt Unisex Casual Shoes',
 'Women Mary Wedges',
 'Men Leather Horsebit Loafers',
 'Men Ultraboost 22 Running',
 'Men Leather Loafers',
 'Men Textured Leather Formal Slip-Ons',
 'Women Sneakers',
 'Men React IR FK3 Running Shoes',
 'Unisex NMD_R1 V2 Sneakers',
 'Men Winflo 7 Running Shoes',
 'Men ZX 2K Boost 2.0 Sneakers',
 'Men Solar Glide 5 Running Shoe',
 'Leather Suede Block Pumps',
 'Men Solid Loafers',
 'Men Leather Loafers',
 'Men Leather Formal Loafers',
 'Men Solid Leather Formal Derbys',
 'Men Solid Sneakers',
 'Men Leather Flat Boots',
 'Men Textured Genuine Leather Formal Oxfords',
 'Men Solid Sneakers',
 'Women Ballerinas Flats',
 'Women Pumps',
 'Men Running Shoes',
 'Women Solid Leather Pumps',
 'Men Leather Driving Shoes',
 'GEL-Cumulus Running Shoes',
 'Men Formal Slip-On Shoes',
 'Men Golf Shoes',
 'Men Textured Formal Leather Brogues',
 'Men Solid Supercourt Sneakers',
 'Men Textured Leather Formal Loafers',
 'Men Solid Leather Formal Loafers',
 'Men Textured Leather Loafers',
 'Men Textured Leather Driving Shoes']

In [150]:
Product_Descriptions=pd.DataFrame(Product_Description)

In [152]:
Price=[]
for i in range(0,2):
    Price_Tag=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']")
    for i in Price_Tag:
        Price.append(i.text.split("\n")[2])
    next_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
    next_button.click()
    time.sleep(5)
    # Ran the loop twice to get all 100 data from 2 pages and have taken the third part of the splitted data for price

In [153]:
Price

['Rs. 8499',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 10495',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 10495',
 'Rs. 8046Rs. 11495(30% OFF)',
 'Rs. 10999',
 'Rs. 8999',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 7999',
 'Rs. 9341Rs. 10990(15% OFF)',
 'Rs. 11999',
 'Rs. 12990',
 'Rs. 9899Rs. 17999(45% OFF)',
 'Rs. 9999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 8490',
 'Rs. 9441Rs. 10490(10% OFF)',
 'Rs. 11699Rs. 12999(10% OFF)',
 'Rs. 9999',
 'Rs. 13999',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 8491Rs. 9990(15% OFF)',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 8991Rs. 9990(10% OFF)',
 'Rs. 13999',
 'Rs. 9341Rs. 10990(15% OFF)',
 'Rs. 7492Rs. 9990(25% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 13990',
 'Rs. 10990',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 12990',
 'Rs. 13999',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 9239Rs. 10499(12% OFF)',
 'Rs. 9239Rs. 10499(12% OFF)',
 'Rs. 13990',
 'Rs. 11041Rs. 12990(15% OFF)',
 'Rs. 3769Rs. 12999(71% OFF)',
 'Rs. 7372Rs. 10099(27% OFF)',
 'Rs. 8490',
 'Rs. 7599Rs. 7999(5% OFF)',
 'Rs. 7499',
 'Rs. 8990',
 'Rs. 8055Rs. 8950(10% OFF)',
 'Rs. 7117Rs. 9490(25% OFF)',
 'Rs. 7999',
 'Rs. 8075Rs. 8500(5% OFF)',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 13999',
 'Rs. 13990',
 'Rs. 6557Rs. 7900(17% OFF)',
 'Rs. 8992Rs. 11990(25% OFF)',
 'Rs. 10355Rs. 10900(5% OFF)',
 'Rs. 10710Rs. 11900(10% OFF)',
 'Rs. 10791Rs. 11990(10% OFF)',
 'Rs. 11990',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 10400',
 'Rs. 10791Rs. 11990(10% OFF)',
 'Rs. 8990',
 'Rs. 8455Rs. 8900(5% OFF)',
 'Rs. 8091Rs. 8990(10% OFF)',
 'Rs. 10990',
 'Rs. 9999',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 7490',
 'Rs. 9099Rs. 13999(35% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 8242Rs. 10990(25% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 8099Rs. 8999(10% OFF)',
 'Rs. 11999',
 'Rs. 13990',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 8991Rs. 9990(10% OFF)',
 'Rs. 8990',
 'Rs. 7990',
 'Rs. 8491Rs. 9990(15% OFF)',
 'Rs. 8991Rs. 9990(10% OFF)']

In [154]:
Prices=pd.DataFrame(Price)

In [155]:
Shoes=pd.concat([Brands,Product_Descriptions,Prices],axis=1)
Shoes.columns=['Brand','Product_Description','Price']
Shoes #Concatenated all the dataframe with column names

,Brand,Product_Description,Price
0,Skechers,Men Leather Formal Loafers,Rs. 8499
1,UNDER ARMOUR,Men Woven Design Leather Slip-On Sneakers,Rs. 7999
2,PUMA Motorsport,Men Leather Loafers,Rs. 7499
3,Puma,Men Solid Boat Shoes,Rs. 12999
4,Puma,Men Driving Shoes,Rs. 9999
...,...,...,...
95,Geox,Men Solid Supercourt Sneakers,Rs. 8991Rs. 9990(10% OFF)
96,J.FONTINI,Men Textured Leather Formal Loafers,Rs. 8990
97,Heel & Buckle London,Men Solid Leather Formal Loafers,Rs. 7990
98,Geox,Men Textured Leather Loafers,Rs. 8491Rs. 9990(15% OFF)
99,Geox,Men Textured Leather Driving Shoes,Rs. 8991Rs. 9990(10% OFF)

# Laptops

In [156]:
driver.get("https://www.amazon.in/") #Loading the website

In [157]:
search_designation=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_designation.send_keys("Laptops") #Sending the keys "laptop" by locating Xpath

In [158]:
Search_Button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
Search_Button.click() #clicking on search button

In [159]:
CPU_Filter=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[11]/span/a/span")
CPU_Filter.click() #clicking on  Intel Core i7 filter

In [160]:
Title=[]
Title_tag=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in Title_tag:
    Title.append(i.text) #running a loop to get the title of the laptops

In [161]:
Title[0:9] #Taking the top 10 titles

['Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14 inches QHD IPS Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN',
 'Lenovo Yoga 9 11th Gen Intel Core i7 14" 4K Ultra HD IPS Touchscreen 2-in-1 Convertible Laptop(16GB/1TB SSD/Windows 11/MS Office 2021/Fingerprint Reader/Shadow Black/Leather Surface/1.44Kg),82BG00BSIN',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14 inches QHD IPS Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN',
 'MSI Katana GF66 Gaming, Intel i7-11800H, 15.6" FHD IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia RTX3050Ti 4GB GDDR6/Black/2.25Kg), 11UD-476IN',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU',
 'ASUS Vivobook X515JA-EJ701WS Intel Core I7-1065G7 15.6 inches FHD 512 GB SSD /16 GB/Windows 11/Office 2019/1Y (Transparent Silver, 2 kg)',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS']

In [162]:
Titles=pd.DataFrame(Title) #Creating a dataframe

In [163]:
Price=[]
Price_tag=driver.find_elements_by_xpath("//span[@class='a-price']")
for i in Price_tag:
    Price.append(i.text)
#running a loop to get the price of the laptops

In [164]:
Price [0:9]

['74,614',
 '1,72,990',
 '57,990',
 '86,990',
 '74,614',
 '99,999',
 '84,990',
 '57,300',
 '89,990']

In [165]:
Prices=pd.DataFrame(Price)  #Creating a dataframe

In [166]:
Rating=[]
Rating_tag=driver.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']")
for i in Rating_tag:
    Rating.append(i.get_attribute('href'))
#running a loop to get the ratings of the laptops

In [167]:
Rating[0:9]

['javascript:void(0)',
 'javascript:void(0)',
 'javascript:void(0)',
 'javascript:void(0)',
 'javascript:void(0)',
 'javascript:void(0)',
 'javascript:void(0)',
 'javascript:void(0)',
 'javascript:void(0)']

In [168]:
Ratings=pd.DataFrame(Rating) #Creating a dataframe

In [169]:
Laptops= pd.concat([Titles,Prices,Ratings],axis=1)
Laptops.columns=['Title','Price','Rating']
Laptops.head(10) #Concatenating all the dataframe

,Title,Price,Rating
0,Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...,"74,614",javascript:void(0)
1,"Lenovo Yoga 9 11th Gen Intel Core i7 14"" 4K Ul...","1,72,990",javascript:void(0)
2,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...","57,990",javascript:void(0)
3,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,"86,990",javascript:void(0)
4,Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...,"74,614",javascript:void(0)
5,"MSI Katana GF66 Gaming, Intel i7-11800H, 15.6""...","99,999",javascript:void(0)
6,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,"84,990",javascript:void(0)
7,ASUS Vivobook X515JA-EJ701WS Intel Core I7-106...,"57,300",javascript:void(0)
8,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...","89,990",javascript:void(0)
9,HP Victus 11th Gen Intel Core i7-11800H 16.1-i...,"1,20,062",javascript:void(0)

# Ambition Box

In [170]:
driver.get("https://www.ambitionbox.com/") #Loading the website

In [171]:
Job=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
Job.click() #Clicking on job via Xpath location

In [172]:
search_designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_designation.send_keys("Data Scientist") #Mention the word Data Scientist by Xpath location

In [176]:
Search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
Search_button.click() #Clicking on search button by xpath

In [177]:
Location=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
Location.click() #Clicking on location button by xpath

In [178]:
Place=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[8]/div/input")
Place.click() #Clicking on location button by xpath

In [179]:
Company=[]
Company_Tag=driver.find_elements_by_xpath("//p[@class='company body-medium']")
for i in Company_Tag:
    Company.append(i.text) #Making a loop to get all the company names

In [180]:
Company

['GENPACT India Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'Hcl Technologies Limited',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'Paytm',
 'Om Software Internet Solutions Private Limited',
 'Paytm',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Ashkom Media India Private Limited']

In [181]:
Companies=pd.DataFrame(Company)

In [182]:
Rating=[]
Rating_Tag=driver.find_elements_by_xpath("//span[@class='body-small']")
for i in Rating_Tag:
    Rating.append(i.text) #Making a loop to get all the rating

In [183]:
Rating

['4.0', '4.2', '4.0', '3.9', '3.9', '3.7', '4.5', '3.7', '3.3', '3.5']

In [184]:
Ratings=pd.DataFrame(Rating)

In [185]:
Time=[]
Time_Tag=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
for i in Time_Tag:
    Time.append(i.text) #Making a loop to get all the days posted

In [186]:
Time

['6d ago',
 '14d ago',
 '13d ago',
 '16d ago',
 '27d ago',
 '9d ago',
 '17d ago',
 '27d ago',
 '14d ago',
 '13d ago']

In [187]:
Times=pd.DataFrame(Time)

In [188]:
Ambition_Box=pd.concat([Companies,Ratings,Times],axis=1)
Ambition_Box.columns=["Company","Rating","Posted"]
Ambition_Box #Creating a dataframe

                                          Company Rating   Posted
0                   GENPACT India Private Limited    4.0   6d ago
1  Optum Global Solutions (India) Private Limited    4.2  14d ago
2                   GENPACT India Private Limited    4.0  13d ago
3                        Hcl Technologies Limited    3.9  16d ago
4                EXL Services.com ( I ) Pvt. Ltd.    3.9  27d ago
5                                           Paytm    3.7   9d ago
6  Om Software Internet Solutions Private Limited    4.5  17d ago
7                                           Paytm    3.7  27d ago
8        MOTHERSONSUMI INFOTECH & DESIGNS LIMITED    3.3  14d ago
9              Ashkom Media India Private Limited    3.5  13d ago

# Ambition Box_Salary

In [205]:
driver.get("https://www.ambitionbox.com/") #Loading the website

In [206]:
Salary=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
Salary.click() #Clicking on the salary button via Xpath

In [215]:
search_designation=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_designation.send_keys("Data Scientist") #Mention the word Data Scientist by Xpath location

In [217]:
Search_button=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[2]/div/div[1]")
Search_button.click() #Clicking on the data scientist button via Xpath location

In [218]:
#The below class name gave the data for both company and salary record, hence the data has been splitted into two parts- Company and salary records

In [219]:
Company=[]
Company_Tag=driver.find_elements_by_xpath("//div[@class='name']")
for i in Company_Tag:
    Company.append(i.text.split("\n")[0]) #Running a loop to get the company name and using the first part of the split

In [220]:
Company

['Walmart',
 'Ab Inbev',
 'American Express',
 'ZS',
 'Optum',
 'Reliance Jio',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'EXL Service']

In [221]:
Companies=pd.DataFrame(Company) #making a dataframe

In [222]:
Salary_Record=[]
Record_Tag=driver.find_elements_by_xpath("//div[@class='name']")
for i in Record_Tag:
    Salary_Record.append(i.text.split("\n")[1]) #Running a loop to get the salary record and using the second part of the split

In [223]:
Salary_Record

['based on 12 salaries',
 'based on 33 salaries',
 'based on 10 salaries',
 'based on 15 salaries',
 'based on 33 salaries',
 'based on 21 salaries',
 'based on 83 salaries',
 'based on 50 salaries',
 'based on 57 salaries',
 'based on 10 salaries']

In [224]:
Salary_Records=pd.DataFrame(Salary_Record) #dataframe for salary records

In [225]:
Average_Salary=[]
Average_Tag=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in Average_Tag:
    Average_Salary.append(i.text) #Running a loop to get all the average salary

In [226]:
Average_Salary

[' 30.2L',
 ' 20.6L',
 ' 19.9L',
 ' 16.7L',
 ' 16.1L',
 ' 15.7L',
 ' 15.4L',
 ' 14.8L',
 ' 14.0L',
 ' 13.3L']

In [227]:
Average_Salaries=pd.DataFrame(Average_Salary) #dataframe for average salary

In [228]:
Minimum_Salary=[]
Minimum_Tag=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
for i in Minimum_Tag:
    Minimum_Salary.append(i.text) #Running a loop to get all the minimum salary

In [229]:
Minimum_Salary

[' 25.0L',
 ' 15.0L',
 ' 14.1L',
 ' 11.0L',
 ' 11.0L',
 ' 5.6L',
 ' 10.0L',
 ' 9.0L',
 ' 8.3L',
 ' 8.9L']

In [230]:
Minimum_Salaries=pd.DataFrame(Minimum_Salary) #dataframe for minimum salary

In [231]:
Maximum_Salary=[]
Maximum_Tag=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
for i in Maximum_Tag:
    Maximum_Salary.append(i.text) #Running a loop to get all the maximum salary

In [232]:
Maximum_Salary

[' 36.0L',
 ' 25.5L',
 ' 25.0L',
 ' 22.0L',
 ' 22.6L',
 ' 26.2L',
 ' 22.0L',
 ' 20.0L',
 ' 21.1L',
 ' 21.0L']

In [233]:
Maximum_Salaries=pd.DataFrame(Maximum_Salary) #dataframe for maximum salary

In [234]:
Ambition_Box_Salary=pd.concat([Companies,Salary_Records,Average_Salaries,Minimum_Salaries,Maximum_Salaries],axis=1)
Ambition_Box_Salary.columns=['Company','Salary_Record','Average_Salary','Minimum_Salary','Maximum_Salary']
Ambition_Box_Salary #concatenating all the dataframe and finally assigning a column

,Company,Salary_Record,Average_Salary,Minimum_Salary,Maximum_Salary
0,Walmart,based on 12 salaries,30.2L,25.0L,36.0L
1,Ab Inbev,based on 33 salaries,20.6L,15.0L,25.5L
2,American Express,based on 10 salaries,19.9L,14.1L,25.0L
3,ZS,based on 15 salaries,16.7L,11.0L,22.0L
4,Optum,based on 33 salaries,16.1L,11.0L,22.6L
5,Reliance Jio,based on 21 salaries,15.7L,5.6L,26.2L
6,Fractal Analytics,based on 83 salaries,15.4L,10.0L,22.0L
7,Tiger Analytics,based on 50 salaries,14.8L,9.0L,20.0L
8,UnitedHealth,based on 57 salaries,14.0L,8.3L,21.1L
9,EXL Service,based on 10 salaries,13.3L,8.9L,21.0L

In [256]:
#End of Assignment